* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-size: 36px;
    border-bottom: 2px solid black;
}
.container {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
}

.grid a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.grid a:hover {
    transform: scale(1.2);
}

